$accentColor: #2196F3;
$primaryTextColor: #212121;
$titlteTextColor: #757575;
$primaryWhiteColor: #ffffff;
$secondaryBgCol: #F5F4FA;
$iconColor: #AFB1B8;
$footerBgCol: #2F303A;
$mainFontFamily: Roboto;
$secondFontFamily: Raleway;
$cubicBezier: 250ms cubic-bezier(0.4, 0, 0.2, 1)